<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Material Icons  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- My Style -->
    <link rel="stylesheet" type="text/css" href="css/main-style.css">
    <link rel="stylesheet" type="text/css" href="css/headers-style.css">
    <link rel="stylesheet" type="text/css" href="css/forms-style.css">
    <title>Controle de Ramal</title>
  </head>

  <body>
    {{>header}}
    {{!-- {{#if userAdm}} --}}
    {{>nav-bar}}
    {{!-- {{/if}} --}}
    {{{body}}}
  </body>
</html>
<!-- Compiled and minified JavaScript -->