<div class="login-container flex-column">
    <div class="login-title"><h2>Cadastrar Usuário</h2></div>
    <form action="#" method="post" class="login-form flex-column">
        <label for="login">Login:</label>
        <input type="text" autofocus name="login" placeholder="Login">
        <label for="senha">Senha:</label>
        <input type="password" name="senha" id="" placeholder="Senha">
        <label for="senha-verify">Repita a senha:</label>
        <input type="password" name="senha-verify" id="" placeholder="Senha">
        <label for="role">Permição:</label>
        <select name="role" id="role">
            <option value="0">Padrão</option>
            <option value="1">Administrador</option>
            <option value="2">Super Administrador</option>
        </select>
        <input type="submit" value="Cadastrar">
    </form>
</div>