<div class="home-container">
    {{>menu-lateral}}
    <div class="ramais-container">
        {{!-- {{#each ramal}} --}}
        <div class="ramal-container ocupado-fisico ">
            <span class="material-icons">&#xe838;</span>
            <h2>4711</h3>
        </div>
        <div class="ramal-container ocupado-virtual ">
            <span class="material-icons">&#xe838;</span>
            <h2>3015</h3>
        </div>
        <div class="ramal-container livre-fisico ">
            <span class="material-icons">&#xe838;</span>
            <h2>4711</h3>
        </div>
        <div class="ramal-container livre-virtual ">
            <span class="material-icons">&#xe838;</span>
            <h2>3015</h3>
        </div>
        <div class="ramal-container ocupado-fisico ">
            <span class="material-icons">&#xe838;</span>
            <h2>4711</h3>
        </div>
        <div class="ramal-container ocupado-virtual ">
            <span class="material-icons">&#xe838;</span>
            <h2>3015</h3>
        </div>
        <div class="ramal-container livre-fisico ">
            <span class="material-icons">&#xe838;</span>
            <h2>4711</h3>
        </div>
        <div class="ramal-container livre-virtual ">
            <span class="material-icons">&#xe838;</span>
            <h2>3015</h3>
        </div>
        <div class="ramal-container ocupado-fisico ">
            <span class="material-icons">&#xe838;</span>
            <h2>4711</h3>
        </div>
        <div class="ramal-container ocupado-virtual ">
            <span class="material-icons">&#xe838;</span>
            <h2>3015</h3>
        </div>
        <div class="ramal-container livre-fisico ">
            <span class="material-icons">&#xe838;</span>
            <h2>4711</h3>
        </div>
        <div class="ramal-container livre-virtual ">
            <span class="material-icons">&#xe838;</span>
            <h2>3015</h3>
        </div>
        <div class="ramal-container ocupado-fisico ">
            <span class="material-icons">&#xe838;</span>
            <h2>4711</h3>
        </div>
        <div class="ramal-container ocupado-virtual ">
            <span class="material-icons">&#xe838;</span>
            <h2>3015</h3>
        </div>
        <div class="ramal-container livre-fisico ">
            <span class="material-icons">&#xe838;</span>
            <h2>4711</h3>
        </div>
        <div class="ramal-container livre-virtual ">
            <span class="material-icons">&#xe838;</span>
            <h2>3015</h3>
        </div>
        <div class="ramal-container ocupado-fisico ">
            <span class="material-icons">&#xe838;</span>
            <h2>4711</h3>
        </div>
        <div class="ramal-container ocupado-virtual ">
            <span class="material-icons">&#xe838;</span>
            <h2>3015</h3>
        </div>
        <div class="ramal-container livre-fisico ">
            <span class="material-icons">&#xe838;</span>
            <h2>4711</h3>
        </div>
        <div class="ramal-container livre-virtual ">
            <span class="material-icons">&#xe838;</span>
            <h2>3015</h3>
        </div>
        <div class="ramal-container ocupado-fisico ">
            <span class="material-icons">&#xe838;</span>
            <h2>4711</h3>
        </div>
        <div class="ramal-container ocupado-virtual ">
            <span class="material-icons">&#xe838;</span>
            <h2>3015</h3>
        </div>
        <div class="ramal-container livre-fisico ">
            <span class="material-icons">&#xe838;</span>
            <h2>4711</h3>
        </div>
        <div class="ramal-container livre-virtual ">
            <span class="material-icons">&#xe838;</span>
            <h2>3015</h3>
        </div>
        <div class="ramal-container ocupado-fisico ">
            <span class="material-icons">&#xe838;</span>
            <h2>4711</h3>
        </div>
        <div class="ramal-container ocupado-virtual ">
            <span class="material-icons">&#xe838;</span>
            <h2>3015</h3>
        </div>
        <div class="ramal-container livre-fisico ">
            <span class="material-icons">&#xe838;</span>
            <h2>4711</h3>
        </div>
        <div class="ramal-container livre-virtual ">
            <span class="material-icons">&#xe838;</span>
            <h2>3015</h3>
        </div>
        <div class="ramal-container ocupado-fisico ">
            <span class="material-icons">&#xe838;</span>
            <h2>4711</h3>
        </div>
        <div class="ramal-container ocupado-virtual ">
            <span class="material-icons">&#xe838;</span>
            <h2>3015</h3>
        </div>
        <div class="ramal-container livre-fisico ">
            <span class="material-icons">&#xe838;</span>
            <h2>4711</h3>
        </div>
        <div class="ramal-container livre-virtual ">
            <span class="material-icons">&#xe838;</span>
            <h2>3015</h3>
        </div>

        {{!-- {{/each}} --}}
    </div>
</div>
