<div class="login-container flex-column">
    <div class="login-title"><h2>Entrar</h2></div>
    <form action="/login" method="post" class="login-form flex-column">
        <input type="text" autofocus name="login" placeholder="Login">
        <input type="password" name="senha" id="" placeholder="Senha">
        <input type="submit" value="Entrar">
    </form>
</div>