<div class="container flex-column">
  <div class="tipos flex-row">
    <div class="tipo tipo-ativo" id="fisico">Físico</div>
    <div class="tipo" id="virtual">Virtual</div>
  </div>
  <div class="ramal-form ramal-form-ativo faixa" id="fisico-container">
    <form action="/add-ramal-f" method="post" class="flex-column">
      <h3>Faixa de novos Ramais:</h3>
      <div class="flex-row">
        <div class="flex-column">
          <label for="inicio-faixa">Inicio:</label>
          <input type="text" name="inicioFaixa" id="inicio-f"/>
        </div>
        <div class="flex-column">
          <label for="fim-faixa">Fim:</label>
          <input type="text" name="fimFaixa" id="fim-f" />
        </div>
      </div>
      <h3>Ramais que serão adicionados:</h3>
      <div class="ramais-a-add" id="ramais-add-f">
        
      </div>
      <input type="submit" value="ADICIONAR" />
    </form>
  </div>
  <div class="ramal-form" id="virtual-container">
    <form action="/add-ramal-v" method="post" class="flex-column">
      <h3>Faixa de novos Ramais:</h3>
      <div class="flex-row">
        <div class="flex-column">
          <label for="inicio-faixa">Inicio:</label>
          <input type="text" name="inicioFaixa"  id="inicio-v"/>
        </div>
        <div class="flex-column">
          <label for="fim-faixa">Fim:</label>
          <input type="text" name="fimFaixa" id="fim-v"/>
        </div>
      </div>
      <h3>Ramais que serão adicionados:</h3>
      <div class="ramais-a-add" id="ramais-add-v"></div>
      <input type="submit" value="ADICIONAR" id="add-virtual"/>
    </form>
  </div>
</div>

<script src="/adicionar-faixa.js" type="text/javascript"></script>